@media all and (min-width: 320px) and (max-width: 480px) {
  /* Whole Header */

  #Head {
    /* width: 100%; */
    width: 480px;
    margin: auto;
    /* border: 3px solid rgb(226, 217, 217); */
  }

  #backgroundimage {
    background-position: center;
    /* border: 3px solid red; */
  }

  /* Navigation Bar */

  #Nav_bar {
    /* border: 3px solid red; */
    height: 200px;
    z-index: 20;
  }

  /* Upper Navigation bar */

  #nav_1 {
    height: 40%;
    /* border: 3px solid blue; */
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
  }

  #nav_1 > div:nth-child(1) {
    /* border: 3px solid green; */
    grid-row: span 2;
    height: 90px;
    width: 150px;
    margin-left: 5px;
    margin-top: -12px;
    position: absolute;
    left: 60px;
    top: 30px;
  }
  #nav_1 > div:nth-child(1) > img {
    /* border: 3px solid green; */
    width: 320px;
    height: 100px;
  }

  #menu {
    flex-direction: row-reverse;
    width: 280px;
    margin-right: 10px;
    pointer-events: none;
    /* border: 2px solid green; */
    height: 30px;
    margin-top: 10px;
    position: absolute;
    top: 40px;
    left: 200px;
  }
  #swap {
    font-size: 18px;
    display: none;
  }

  #earn {
    font-size: 18px;
    display: none;
  }
  #sonicfun {
    font-size: 20px;
    display: none;
  }
  #more {
    margin-right: 10px;
    font-size: 32px;
  }
  #list {
  left: -110px;
  top: -20px;
  }

  #cryptoprice {
    width: 150px;
    height: 15px;
    position: absolute;
    top: 75px;
    left: 170px;
    align-items: center;
    display: none;
  }
  #cryptoprice_1 {
    width: 90px;
    height: 30px;
    /* border: 2px solid rgb(84, 149, 255); */
    margin-right: 2px;
  }
  #cryptoprice_1 img {
    width: 39%;
    height: 30px;
    /* border: 1px solid red; */
    margin-right: 4px;
  }
  #cryptoprice_1 p {
    width: 40px;
    height: 30px;
    font-size: 19px;
    margin: 0px;
  }
  #cryptoprice_2 {
    width: 80px;
    height: 30px;
    /* border: 2px solid green; */
    margin-right: 15px;
  }
  #cryptoprice_2 p {
    width: 40px;
    height: 30px;
    font-size: 19px;
  }
  #cryptoprice_2 img {
    width: 39%;
    height: 30px;
    margin-right: 4px;
    margin-right: 2px;
  }
  #nav_1 > :nth-child(4) {
    /* border: 3px solid blue; */
    padding-top: 2px;
    width: 150px;
    height: 30px;
    position: absolute;
    top: 75px;
    left: 330px;
    display: none;
  }
  #nav_buttons > :nth-child(1) {
    width: 120px;
    height: 33px;
  }
  #nav_buttons > :nth-child(2) {
    border-radius: 27.5px;
    width: 60px;
    height: 31px;
    margin-left: 60px;
    font-size: 7px;
    border: 2px solid rgba(0, 255, 85, 1);
  }
  #audited {
    margin-right: 60px;
    font-size: 10px;
    margin-top: 0px;
  }
  #sheild {
    position: absolute;
    top: 2px;
    left: 48px;
    width: 10px;
  }
  #hot_pairs {
    width: 32%;
    padding-left: 5px;
    font-size: 15px;
  }
  #cryptocoins_head {
    width: 80%;
    margin-left: 300px;
  }
  #cryptocoins_head p {
    margin-top: 2px;
    font-size: 15px;
    margin-top: -1px;
  }
  #cryptocoins_head img {
    width: 25%;
    height: 20px;
    margin-top: -1px;
  }

  #nav_2 {
    width: 98%;
    margin: 30px 2px;
    margin-top: 40px;
  }

  #head_main{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 60.48%);

  }

  #launchpad {
    width: 70%;
    margin-top: -150px;
  }

  #launchpad > :nth-child(1) {
    font-size: 50px;
  }

  #launchpad > :nth-child(2) {
    font-size: 50px;
  }

  #launchpad > :nth-child(3) {
    font-size: 50px;
    line-height: 50px;
  }
  #sonic_blockchain {
    gap: 0px;
    margin: 20px 0px;
  }
  #sonic_blockchain > div > p {
    font-size: 14px;
    margin-top: 10px;
  }
  #sonic_blockchain > div > img {
    width: 80%;
  }
  #main_box {
    width: 250px;
    height: 250px;
    left: 125px;
    top: 510px;
  }

  @media all and(min-width:320px) and (max-width: 400px) {
    #main_box {
      left: 0px;
    }
  }

  @media all and (min-width: 400px) and (max-width: 480px) {
    #main_box {
      left: 125px;
      top: 510px;
    }
  }
  #main_box_content {
    display: flex;
    gap: 20px;
    border-radius: 60px;
    margin-top: -10px;
    box-shadow: 0px 0px 40px 50px rgba(0, 0, 0, 0.6);
  }
  #main_box_content > :nth-child(1) {
    width: 70px;
    height: 22px;
    border-width: 1px;
    border-radius: 70px;
    gap: 10px;
    padding: 20px;
    border: 2px solid rgba(0, 255, 85, 1);
  }

  #main_box_content > :nth-child(2) {
    width: 70px;
    height: 22px;
    border-radius: 100px;
    gap: 10px;
    padding: 20px;
  }
  #main_box_content > div > p {
    line-height: 20px;
  }
  #first_box {
    top: -5px;
    left: 125px;
  }

  #Ssecond_box {
    top: 41px;
    left: 227px;
    z-index: -3;
  }
  #Second_box {
    top: 41px;
    left: 227px;
    z-index: 3;
  }
  #empty_space {
    display: none;
  }
  #swap_trades {
    width: 480px;
    grid-template-columns: repeat(1, 1fr);
  
  }
  #swap_trades > div {
    height: 220px;
    width: 100%;
    margin: 0%;
  }
  .swap_images {
    left: 150px;
    top: -60px;
    width: 100px;
  }
  .upper_glow {
    left: 180px;
    top: -13px;
    width: 40px;
    height: 40px;
    /* box-shadow: 0px 0px 500px 100px rgb(9, 255, 91); */
  }
  .lower_glow {
    width: 330px;
    box-shadow: 0px -24px 40px 10px rgba(9, 255, 91, 0.6);
    top: 210px;
    left: 90px;
  }

  .side_button {
    width: 110px;
    height: 25px;
    top: 10px;
    left: 320px;
    border-radius: 40px;
  }
  .side_button_glow {
    /* border: 3px solid blue; */
    top: 69px;
    left: 360px;
    width: 78px;
  }
  #side_button_p_first {
    font-size: 32px;
    margin-top: -10px;
    margin-left: 8px;
  }
  .underline {
    top: 90px;
    left: 55px;
    width: 80px;
  }

  .swap > p {
    top: 30px;
    left: 50px;
    font-size: 35px;
  }

  .swap_info {
    width: 324px;
    top: 110px;
    left: 100px;
  }
  .swap_info > p {
    font-size: 17px;
  }

  #swap_trades > :nth-child(2) > img {
    width: 242px;
    left: 79px;
    top: 200px;
  }
  
  /* upper glow  */
  
  #swap_trades > :nth-child(2) > :nth-child(2) {
    left:150px;
    top: 280px;
  /* box-shadow: 0px 0px 1000px 120px rgba(238, 52, 126, 1); */

  }
  
  /* lower glow  */
  
  
  #swap_trades > :nth-child(2) > :nth-child(3) {
    top: 500px;
    left: 90px;
  }
  
  /* side button  */
  
  #swap_trades > :nth-child(2) > :nth-child(4) {
    top: 300px;
    left: 320px;
  
  }
  #side_button_p_second {
    font-size: 32px;
    margin-top: -10px;
    margin-left: 8px;
  }
  
  
  /* side button lower glow and border  */
  
  #swap_trades > :nth-child(2) > :nth-child(5) {
    top: 360px;
    left: 360px;
  }
  
  #underline_2 {

    top: 390px;
    left: 55px;
    width: 80px;
  
  }
  #stake {

    top: 330px;
    left: 50px;
    font-size: 35px;
    
  }
  
   /* info para  */
  
  #swap_info_second{
    width: 324px;
    top: 410px;
    left: 100px;    
    font-size: 17px;
  
  }


  #swap_trades > :nth-child(3) > img {
    width: 242px;
    left: 79px;
    top: 500px;
  
  }
  
  /* upper glow  */
  
  
  #swap_trades > :nth-child(3) > :nth-child(2) {
    left:160px;
    top: 580px;
  /* box-shadow: 0px 0px 500px 110px rgba(47, 172, 206, 1); */
  }
  
  /* lower glow  */
  
  
  #swap_trades > :nth-child(3) > :nth-child(3) {
    top: 820px;
    left: 90px;
  }
  
  /* side button  */
  
  #swap_trades > :nth-child(3) > :nth-child(4) {
    top: 600px;
    left: 320px;
  
  }
  
  #launchpad {
    top: 815px;
    left: -80px;
    font-size: 27px;
  }
  
  #side_button_p_third {
    font-size: 22px;
    margin-top: -3px;
    margin-left: 8px;
  }
  
  /* side button lower glow and border  */
  
  #swap_trades > :nth-child(3) > :nth-child(5) {
    top: 660px;
    left: 360px;
  }
  #underline_3 {
    top: 715px;
    left: 25px;
    width: 140px;
  }
  
   /* info para  */
  
   #swap_info_third{
    width: 324px;
    top: 740px;
    left: 120px;    
    font-size: 17px;
  
   }
  


   #swap_trades > :nth-child(4) > img {
    width: 122px;
    left: 159px;
    top: 860px;
  }
  
  /* upper glow  */
  
  #swap_trades > :nth-child(4) > :nth-child(2) {
    left:190px;
    top: 860px;
  /* box-shadow: 0px 0px 570px 140px rgba(183, 0, 255, 1); */

  }
  
  /* lower glow  */
  
  #swap_trades > :nth-child(4) > :nth-child(3) {
    top: 1120px;
    left: 90px;
  }
  
  /* side button  */
  
  #swap_trades > :nth-child(4) > :nth-child(4) {
    top: 900px;
    left: 320px;
    width: 110px;
  }
  
  #farms {
    top: 920px;
    left: 20px;
  }
  
  #side_button_p_fourth {
    margin-top: -10px;
    margin-left: 8px;
  }
  
  /* side button lower glow and border  */
  
  #swap_trades > :nth-child(4) > :nth-child(5) {
    top: 960px;
    left: 360px;
  }
  #underline_4 {
    top: 1000px;
    left: 35px;
    width: 80px;
  }
  
   /* info para  */
  
  #swap_info_fourth{
    top: 1030px;
    left: 130px;    
  }











}
